$font-family-base: "Roboto", sans-serif;
$font-family-heading: "Lobster", cursive;

$dark-elements: hsl(209, 23%, 22%);
$dark-background: hsl(207, 26%, 17%);
$light-text: hsl(200, 15%, 8%);
$light-input: hsl(0, 0%, 52%);
$light-background: hsl(0, 0%, 98%);
$dark-text-light-elements: hsl(0, 0%, 100%);

$spacer: 1rem;

$desktop-width: 1100px;
$tablet-width: 375px;
