#detail {
  font-size: 16px;
  .header {
    margin-bottom: (40 / 16) * 1em;
  }
  .top-controls {
    padding: 0 (28 /16) * 1em;
    margin-bottom: (64 / 16) * 1em;
    .top-controls__back-btn {
      display: flex;
      align-items: center;
      padding: (12 /16) * 1em (24 /16) * 1em;
      background-color: $dark-elements;
      color: $dark-text-light-elements;
      font-size: (14 /16) * 1em;
      border-radius: 4px;
      .back-btn__icon {
        margin-right: (10 / 16) * 1em;
      }
    }
  }
  .infos {
    padding: 0 (28 /16) * 1em;
    color: $dark-text-light-elements;
    margin-bottom: (46 / 16) * 1em;
  }
  .infos__content {
    margin-bottom: (50 / 16) * 1em;
  }
  .details__flag {
    width: 100%;
    margin-bottom: (50 / 16) * 1em;
  }
  .content__country-name {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0.02em;
    margin-bottom: (34 / 16) * 1em;
  }
  .content__name {
    font-weight: 600;
    margin-bottom: (22 / 16) * 1em;
  }
  .content__value {
    font-weight: 300;
  }
  .content__borders {
    .borders__title {
      font-size: 16px;
      letter-spacing: 0.01em;
      font-weight: 600;
      margin-bottom: (24 / 16) * 1em;
    }
    .borders__items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .borders__item {
        color: $dark-text-light-elements;
        padding: (8 /16) * 1em (32 /16) * 1em;
        margin-bottom: 1em;
        background-color: $dark-elements;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #detail {
    .infos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: (145 / 16) * 1em;
    }
    .infos__main {
      padding: (45 / 16) * 1em 0;
    }
    .main__infos {
      display: flex;
      justify-content: space-between;
    }
    .content__borders {
      display: flex;
      align-items: center;
      .borders__title {
        margin-right: 1em;
      }
      .borders__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        .borders__item {
          margin: 0 0.5em;
        }
      }
    }
  }
}
